# Internal python caching
__pycache__/*

# Development files

## Images
*.ase
*.aseprite
*.xcf

## Audio
*.m4a
*.wav
*.aup
*.aup3

## Fonts
*.sfd

tags

# Game specific

highscores.json

## Old image files
assets/asteroidImage.png
assets/playerImage.png
assets/coinImage.png
assets/blankBG.png
